# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/

# Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Env files
.env
.env.*

# Testing
.pytest_cache/
.coverage
htmlcov/

# Data
data/raw/*
data/processed/*
data/artifacts/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/artifacts/.gitkeep
